.navbar-container {
  /* Add your existing styles here */

  /* Add any other styles you want for the container */
}

.animate-letters {
  display: flex;
}

.animate-letters:hover > :nth-child(1) {
  animation: letter-animation 0.5s ease-in-out forwards;
}

.animate-letters:hover > :nth-child(2) {
  animation: letter-animation 0.5s ease-in-out 0.1s forwards;
}

.animate-letters:hover > :nth-child(3) {
  animation: letter-animation 0.5s ease-in-out 0.1s forwards;
}

.animate-letters:hover > :nth-child(4) {
  animation: letter-animation 0.5s ease-in-out 0.1s forwards;
}

.animate-letters:hover > :nth-child(5) {
  animation: letter-animation 0.5s ease-in-out 0.1s forwards;
}

.animate-letters:hover > :nth-child(6) {
  animation: letter-animation 0.5s ease-in-out 0.1s forwards;
}

.animate-letters:hover > :nth-child(7) {
  animation: letter-animation 0.5s ease-in-out 0.1s forwards;
}

.animate-letters:hover > :nth-child(8) {
  animation: letter-animation 0.5s ease-in-out 0.1s forwards;
}

@keyframes letter-animation {
  0%, 100% {
      transform: scale(1);
  }
  50% {
      transform: scale(0.5);
  }
}